* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100%;
	display: flex;
	justify-content: center;
	padding: 20px 44px 42px 24px;
}

.container {
	display: flex;
	flex-direction: column;
	max-width: 1440px;
	height: 100%;
}

header h2 {
	font-family: "Inconsolata";
	font-weight: 700;
	font-size: 24px;
	line-height: 25px;
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	text-transform: uppercase;
}

main {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 7.5em;
	margin-top: 200px;
}

img {
	width: 540px;
	height: 447px;
}

.text-content h1 {
	font-family: "Space Mono";
	font-size: 64px;
	font-weight: 700;
	line-height: 94.78px;
}

.text-content p {
	font-family: "Space Mono";
	font-size: 24px;
	line-height: 35.54px;
	margin-top: 36px;
}

.text-content button {
	width: 216px;
	height: 68px;
	background-color: #333333;
	color: white;
	font-family: "Inconsolata";
	font-size: 14px;
	font-weight: 700;
	border: none;
	margin-top: 88px;
}

footer {
	text-align: center;
	font-family: "Montserrat", sans-serif;
	margin-top: 135px;
	font-size: 14px;
}

@media screen and (max-width: 376px) {
	main {
		margin-top: 64px;
		gap: 3em;
	}

	img {
		width: 287px;
		height: 238px;
	}

	.text-content h1 {
		font-size: 48px;
	}

	.text-content p {
		font-size: 18px;
	}
}
