* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	display: flex;
	width: 92%;
	margin: auto;
	padding-top: 40px;
}

.main-container {
	width: 1440px;
	height: 100%;
	margin: auto;
}

.text-top {
	font-family: "Inconsolata";
	font-weight: 700;
	font-size: 24px;
}

.content {
	display: flex;
	width: 92%;
	margin: auto;
	min-height: 80vh;
	align-items: center;
}

.text-content {
	flex: 1;
}

.text-content h1,
p,
button {
	font-family: "Space Mono";
}

.text-content h1 {
	font-size: 64px;
	width: 62vh;
}

.text-content p {
	font-size: 24px;
	width: 20vw;
	height: 11vh;
	margin-top: 36px;
}

.text-content button {
	font-size: 14px;
	background-color: #333333;
	color: white;
	border: none;
	width: 11vw;
	height: 7vh;
	margin-top: 64px;
}

.main-img {
	flex: 1;
}

.main-img img {
	height: 47vh;
}

footer {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.footer p {
	margin-bottom: 39px;
	align-items: center;
	position: relative;
	top: 100%;
}

@media screen and (max-width: 1690px) {
	.content {
		flex-direction: column;
	}

	.main-img img {
		height: 30vh;
		margin-top: 64px;
	}

	.text-content h1 {
		font-size: 48px;
		width: auto;
		margin-top: 60px;
	}

	.text-content p {
		font-size: 18px;
		width: auto;
		margin-top: 29px;
	}

	.text-content button {
		width: 216px;
		height: 68px;
	}

	.footer {
		margin-bottom: 42px;
	}
}
