* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100%;
	display: flex;
	justify-content: center;
	padding: 20px 44px 42px 24px;
}

.container {
	display: flex;
	flex-direction: column;
	max-width: 1440px;
	min-width: 375px;
	width: 100%;
}

header h2 {
	font-family: "Inconsolata";
	font-weight: 700;
	font-size: 24px;
	line-height: 25px;
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	text-transform: uppercase;
}

main {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 7.5em;
	margin-top: 200px;
}

.main-img {
	width: 540px;
	height: 447px;
}

.main-img img {
	width: 100%;
	height: 100%;

}

.text-content h1 {
	font-family: "Space Mono";
	font-size: 64px;
	font-weight: 700;
	line-height: 94.78px;
}

.text-content p {
	font-family: "Space Mono";
	font-size: 24px;
	line-height: 35.54px;
	margin-top: 36px;
	width: 381px;
}

.text-content button {
	width: 216px;
	height: 68px;
	background-color: #333333;
	color: white;
	font-family: "Inconsolata";
	font-size: 14px;
	font-weight: 700;
	border: none;
	margin-top: 88px;
}

footer {
	text-align: center;
	font-family: "Montserrat", sans-serif;
	margin-top: 86px;
	font-size: 14px;
}


@media screen and (max-width: 1070px) {
	.main-img img {
		width: 90%;
		height: 90%;
	}

	.text-content h1 {
		font-size: 58px;
	}

	main {
		margin-top: 60px;
		gap: 1rem;
	}

}

@media screen and (max-width: 968px) {
	.main-img img {
		width: 80%;
		height: 80%;
	}

	.text-content h1 {
		font-size: 48px;
	}

	.text-content p {
		font-size: 18px;
	}
}

@media screen and (max-width: 375px) {
	.main-img img {
		width: 70%;
		height: 70%;
	}

	.text-content h1 {
		font-size: 48px;
	}

	.text-content p {
		font-size: 18px;
	}

		main {
		margin-top: 60px;
	}
}

